fastapi
uvicorn
sqlalchemy
alembic
asyncpg
redis
aio-pika
aiohttp

python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyotp
qrcode
PyJWT

pydantic
pydantic-settings
python-dotenv

docker

mlflow
tensorflow
xgboost
scikit-learn

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-redis

prometheus-client
python-json-logger

hvac
jira
boto3

pdfkit
markdown
weasyprint
jinja2
html2text
xhtml2pdf

networkx
numpy
scipy
python-louvain
community